/* Three image containers (use 25% for four, and 50% for two, etc) */

 div {
    margin-top: 50px;
    text-align: left;
  }

  
button.button {
    
    background-color: #6F6159;
    margin-top: 1%;
}

button.button:hover{
    background-color: darkred;
}

p{
    margin-top: 2%;
    color: black;
}

#content{
    margin-top: 1%;
    background-color: white;
    border-radius: 4px;
}

#content p.generated-content{  
    margin: 5px;
    color: black;
    background-color: gold;
}

img{
    margin-top: 10px;
    border-radius: 20px;
}

p a {
   color: darkred; 
}

p a:hover{
    color: gold;
}